services:

  rabbitmq:
      image: rabbitmq:4.0-management
      container_name: rabbitmq
      ports:
        - "5672:5672"
        - "15672:15672"
  api:
    build:
      context: ./api
    container_name: api
    ports:
      - "5000:5000"
    volumes:
      - ./db:/app/db
    environment:
      - DATABASE_URL=sqlite:///app/db/database.sqlite
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
    depends_on:
      - rabbitmq

  db:
    image: nouchka/sqlite3
    container_name: sqlite_db
    volumes:
      - ./db:/data

  worker:
    build:
      context: ./api
    container_name: worker
    command: ["python", "-u", "worker.py"]
    depends_on:
      - rabbitmq
      - db
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - DATABASE_URL=sqlite:///app/db/database.sqlite
    volumes:
      - ./db:/app/db

  evaluator_worker:
    build:
      context: ./evaluator_worker
    container_name: evaluator_worker
    command: ["python", "-u", "evaluator_worker.py"]
    depends_on:
      - rabbitmq
      - db
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASSWORD=guest
      - DATABASE_URL=sqlite:///app/db/database.sqlite
      - OPENROUTER_API_KEY=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
    volumes:
      - ./db:/app/db





